---

spark_mirror: http://mirror.ox.ac.uk/sites/rsync.apache.org
spark_version: 1.5.2
spark_package: -bin-without-hadoop

etl_deploy_cmd: |
    tmux new-session -d -s etl;
    rm src/main/resources/application-development.properties;
    tmux send-keys -t etl 'mvn clean package spring-boot:run' C-m

moogi_deploy_cmd: |
    tmux new-session -d -s moogi;
    rm src/main/resources/application-development.properties;
    tmux send-keys -t etl 'mvn clean package spring-boot:run  -Drun.jvmArguments="-Xmx4g"' C-m

