---
# Initial rollout is needed to configure dependencies

- include_vars: repositories.yml

- name: Creating deployment base dirs
  file: path=/opt/mindmaps
        state=directory

- name: Creating .ssh directory
  file: path=/home/denis/.ssh
        mode=0700
        owner=denis
        group=denis
        state=directory

- name: Installing deploy key
  copy: content={{ etl_key }}
        dest=/home/denis/.ssh/{{ etl_key_name }}
        mode=0600
        owner=denis
        group=denis

- name: Cloning ETL repository
  git: repo={{ etl_repository_url }}
       dest={{ etl_clone_dest }}
       clone=yes
       version={{ etl_branch }}
       accept_hostkey=yes
       key_file=/home/denis/.ssh/{{ etl_key_name }}
       bare=no
  async: 0
  poll: 20

- name: Importing Cassandra Schema
  command: "cqlsh -f {{ etl_clone_dest }}/src/main/resources/schema/ObjectCreationSchema.cql"
  notify: restart cassandra
  ignore_errors: true

- name: Installing Dependencies
  apt: name=maven
       state=present

- name: Starting ETL
  shell: mvn clean package spring-boot:run
  args:
    chdir: /home/denis/etl

