---
# Set up LVM for containers

- name: Checking for {{ lvm_pv }}
  stat: path={{ lvm_pv}}
  register: pv_present
  failed_when: pv_present.stat.exists == false

- name: Setting up LVM physical volumes
  command: "pvcreate {{ lvm_pv }}"
  ignore_errors: yes

- name: Setting up LVM groups
  lvg: vg=lxc pvs={{ lvm_pv }}
  ignore_errors: yes

- name: Setting up LVM volumes
  lvol: lv={{ item.name }} 
        vg=lxc
        size={{ item.size }}
        state=present
  with_items:
    - "{{ containers }}"

- name: Creating file systems
  filesystem: dev=/dev/lxc/{{ item.name }}
              fstype={{ containers_fs }}
              opts={{ containers_fs_opts }}
  with_items:
    - "{{ containers }}"
  ignore_errors: yes

- name: Creating directories
  file: path=/var/lib/lxc/{{ item.name }}/rootfs state=directory
  with_items:
    - "{{ containers }}"

- name: Creating fstab entries
  mount: name=/var/lib/lxc/{{ item.name }}/rootfs 
         src=/dev/lxc/{{ item.name }} 
         fstype={{ containers_fs }}
         state=present
  with_items:
    - "{{ containers }}"

- name: Mounting
  mount: name=/var/lib/lxc/{{ item.name }}/rootfs 
         src=/dev/lxc/{{ item.name }} 
         fstype={{ containers_fs }}
         state=mounted
  with_items:
    - "{{ containers }}"


