---
# Create and configure containers

- name: Checking for previous debootstrap
  stat: path=/var/lib/lxc/{{ item.name }}/rootfs/lib/init/init-d-script
  with_items:
    - "{{ containers }}"
  register: past_deboot

- name: Creating containers
  command: "lxc-create -n {{ item.item.name }} -t /usr/share/lxc/templates/lxc-debian"
  when: item.stat.exists == false
  with_items:
    - "{{ past_deboot.results }}"
  poll: 10

- name: Fixing root passwords
  copy: src=lxc.shadow dest=/var/lib/lxc/{{ item.name }}/rootfs/etc/shadow
  with_items:
    - "{{ containers }}"

- include: config_lxc.yml cid={{ item.0 }} cname={{ item.1.name }}
  with_indexed_items:
    - "{{ containers }}"

- name: Copying fstab files
  template: src=lxc.fstab dest=/var/lib/lxc/{{ item.name }}/fstab
  with_items:
    - "{{ containers }}"

- name: Copying autodev files
  template: src=lxc.autodev.j2
            dest=/var/lib/lxc/{{ item.name }}/autodev
            mode=0755
  with_items:
    - "{{ containers }}"

- name: Patching autogev files
  lineinfile: dest=/var/lib/lxc/{{ item.name }}/autodev
              regexp="CONTAINER"
              line=CONTAINER={{ item.name }}
  with_items:
    - "{{ containers }}"

- name: Symlinking systemd-udevd.service 
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item.name }}/rootfs/etc/systemd/system/systemd-udevd.service
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking systemd-udevd-control.socket
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item.name }}/rootfs/etc/systemd/system/systemd-udevd-control.socket
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking systemd-udevd-kernel.socket
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item.name }}/rootfs/etc/systemd/system/systemd-udevd-kernel.socket
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking proc-sys-fs-binfmt_misc.automount
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item.name }}/rootfs/etc/systemd/system/proc-sys-fs-binfmt_misc.automount
        state=link
  with_items:
    - "{{ containers }}"

- name: Allowing root ssh
  lineinfile: dest=/var/lib/lxc/{{ item.name }}/rootfs/etc/ssh/sshd_config
              'regexp="PermitRootLogin without-password" line="PermitRootLogin without-password"="PermitRootLogin yes"'
  with_items:
    - "{{ containers }}"
  notify: restart lxc

