---
# Create and configure containers

- name: Checking for previous debootstrap
  stat: path=/var/lib/lxc/{{ item }}/rootfs/lib/init/init-d-script
  with_items:
    - "{{ containers }}"
  register: past_deboot

- name: Creating containers
  command: "lxc-create -n {{ item.item }} -t /usr/share/lxc/templates/lxc-debian"
  when: item.stat.exists == false
  with_items:
    - "{{ past_deboot.results }}"

- name: Fixing root passwords
  copy: src=lxc.shadow dest=/var/lib/lxc/{{ item }}/rootfs/etc/shadow
  with_items:
    - "{{ containers }}"

- name: Copying config files
  template: src=lxc-{{ item }}.conf dest=/var/lib/lxc/{{ item }}/config
  with_items:
    - "{{ containers }}"

- name: Copying fstab files
  template: src=lxc.fstab dest=/var/lib/lxc/{{ item }}/fstab
  with_items:
    - "{{ containers }}"

- name: Copying autodev files
  template: src=lxc-{{ item }}.autodev 
            dest=/var/lib/lxc/{{ item }}/autodev
            mode=0755
  with_items:
    - "{{ containers }}"

- name: Symlinking systemd-udevd.service 
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item }}/rootfs/etc/systemd/system/systemd-udevd.service
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking systemd-udevd-control.socket
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item }}/rootfs/etc/systemd/system/systemd-udevd-control.socket
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking systemd-udevd-kernel.socket
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item }}/rootfs/etc/systemd/system/systemd-udevd-kernel.socket
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking proc-sys-fs-binfmt_misc.automount
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item }}/rootfs/etc/systemd/system/proc-sys-fs-binfmt_misc.automount
        state=link
  with_items:
    - "{{ containers }}"

