---
# Set up LVM and LXC

- name: Installing tools
  apt: name={{ item }}
       update_cache=yes
       state=latest
  with_items:
      - "dmsetup"
      - "lvm2"
      - "lxc"
      - "libvirt-bin"
      - "bridge-utils"
      - "jfsutils"
      - "haveged"

- name: Setting up LVM physical volumes
  command: "pvcreate {{ lvm_pv }}"
  ignore_errors: yes

- name: Settung up LVM groups
  lvg: vg=lxc pvs={{ lvm_pv }}
  ignore_errors: yes

- name: Setting up LVM volumes
  lvol: lv={{ item }} 
        vg=lxc
        size={{ lvm_size }}
        state=present
  with_items:
    - "{{ containers }}"

- name: Creating file systems
  filesystem: dev=/dev/lxc/{{ item }}
              fstype={{ containers_fs }}
              opts={{ containers_fs_opts }}
  with_items:
    - "{{ containers }}"

- name: Creating directories
  file: path=/var/lib/lxc/{{ item }}/rootfs state=directory
  with_items:
    - "{{ containers }}"

- name: Creating fstab entries
  mount: name=/var/lib/lxc/{{ item }}/rootfs 
         src=/dev/lxc/{{ item }} 
         fstype={{ containers_fs }}
         state=present
  with_items:
    - "{{ containers }}"

- name: Mounting
  mount: name=/var/lib/lxc/{{ item }}/rootfs 
         src=/dev/lxc/{{ item }} 
         fstype={{ containers_fs }}
         state=mounted
  with_items:
    - "{{ containers }}"

- name: Copying config files
  template: src=lxc-{{ item }}.conf dest=/var/lib/lxc/{{ item }}/config
  with_items:
    - "{{ containers }}"

- name: Copying fstab files
  template: src=lxc-{{ item }}.fstab dest=/var/lib/lxc/{{ item }}/fstab
  with_items:
    - "{{ containers }}"

- name: Copying autodev files
  template: src=lxc-{{ item }}.autodev 
            dest=/var/lib/lxc/{{ item }}/autodev
            mode=0755
  with_items:
    - "{{ containers }}"

- name: Checking for previous debootstrap
  stat: path=/var/lib/lxc/{{ item }}/rootfs/lib/init/init-d-script
  with_items:
    - "{{ containers }}"
  register: past_deboot

- name: Debootstrapping
  command: "debootstrap jessie /var/lib/lxc/{{ item.item }}/rootfs"
  when: item.stat.exists == false
  with_items:
    - "{{ past_deboot.results }}"

- name: Symlinking systemd-udevd.service 
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item }}/rootfs/etc/systemd/system/systemd-udevd.service
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking systemd-udevd-control.socket
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item }}/rootfs/etc/systemd/system/systemd-udevd-control.socket
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking systemd-udevd-kernel.socket
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item }}/rootfs/etc/systemd/system/systemd-udevd-kernel.socket
        state=link
  with_items:
    - "{{ containers }}"

- name: Symlinking proc-sys-fs-binfmt_misc.automount
  file: src=/dev/null 
        dest=/var/lib/lxc/{{ item }}/rootfs/etc/systemd/system/proc-sys-fs-binfmt_misc.automount
        state=link
  with_items:
    - "{{ containers }}"

