---
# Install docker

- include_vars: config.yml

- name: Adding Docker repository
  apt_repository: repo='deb https://apt.dockerproject.org/repo debian-jessie main'
                  state=present
                  filename='docker'

- name: Adding Repository key
  apt_key: keyserver=hkp://keyserver.ubuntu.com:80 id=58118E89F3A912897C070ADBF76221572C52609D state=present

- name: Installing Docker
  apt: name={{item}} update_cache=yes state=present
  with_items:
      - "apt-transport-https"
      - "ca-certificates"
      - "docker-engine"
  notify: start docker


