---
# Build kubernetes from source

- name: Installing binaries
  command: cp {{kubernetes_extract_path}}/kubernetes/server/bin/{{item}} /usr/local/bin/
  with_items:
    - "kubelet"
    - "kube-proxy"

- name: Installing systemd services
  copy: src={{item}} dest=/lib/systemd/system/{{item}}
  with_items:
    - "kubelet.service"
    - "kube-proxy.service"
  notify: reload systemd

- name: Copying configuration
  template: src={{item.src}} dest={{kube_conf_path}}/{{item.dest}} owner=kube group=kube
  with_items:
    - {src: "kubelet.j2", dest: "kubelet"}
    - {src: "kube-proxy.j2", dest: "kube-proxy"}
  notify:
    - enable kube-master
    - restart docker

