# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug eth0
iface eth0 inet dhcp

## LXC bridge interfaces
{% for c in containers %}
auto br{{ loop.index0 }}
iface br{{ loop.index0 }} inet static
    address 127.16.0.1{{ loop.index0 }}
    netmask 255.255.255.248
    bridge_ports none
{% endfor %}
