*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

## containers routing
{% for c in lvm_volumes %}

# {{c.name}} container
-A POSTROUTING -s 172.{{16 + loop.index0}}.0.0/30 -o eth0 -j MASQUERADE
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}2022 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:22
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}8080 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:80
{% if 'etl' in c.name %}
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}8444 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:8444
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}2000 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:2000
{% elif 'tgm' in c.name %}
## cassandra
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}7000 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:7000
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}7001 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:7001
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}7199 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:7199
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}9042 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:9042
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}9160 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:9160

## zookeeper
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}2181 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:2181
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}2888 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:2888
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}3888 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:3888

## storm
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}3772 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:3772
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}3773 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:3773
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}6627 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:6627
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}6700 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:6700
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}6701 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:6701
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}6702 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:6702
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}6703 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:6703
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}8000 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:8000
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}8081 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:8081
{ elif 'nginx' in c.name %}
{% if loop.index0 == 0 %}
-A PREROUTING -i eth0 -p tcp --dport 80 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:80
-A PREROUTING -i eth0 -p tcp --dport 443 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:443
-A PREROUTING -i eth0 -p tcp --dport 2049 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:2049
-A PREROUTING -i eth0 -p udp --dport 2049 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:2049
{% else %}
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}0080 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:80
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}0443 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:443
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}2049 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:2049
-A PREROUTING -i eth0 -p udp --dport {{loop.index}}2049 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:2049
{% endif %}
{% elif 'psql' in c.name %}
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}5432 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:5432
{ elif 'tomcat' in c.name %}
-A PREROUTING -i eth0 -p tcp --dport {{loop.index}}8080 -j DNAT --to-destination 172.{{16 + loop.index0}}.0.2:80
{% endfor %}
COMMIT

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:TCP - [0:0]
:UDP - [0:0]
:lxc_forwards - [0:0]
:br_outbound - [0:0]

## log and drop
:logdrop - [0:0]
-A logdrop -m limit --limit 5/m --limit-burst 10 -j LOG --log-prefix "iptables deny: " --log-level 7
-A logdrop -j DROP

## loopback
-A INPUT -i lo -j ACCEPT
-A INPUT ! -i lo -d 127.0.0.0/8 -j REJECT

## sshguard
:sshguard - [0:0]
-A sshguard -m recent --name sshbf --rttl --update --rsource --hitcount 3 --seconds 10 -j logdrop
-A sshguard -m recent --name sshbf --rttl --update --rsource --hitcount 4 --seconds 180 -j logdrop
-A sshguard -m recent --name sshbf --set -j ACCEPT

## bridge forward outbound
{% for c in lvm_volumes %}
-A br_outbound -i br{{ loop.index0 }} -j ACCEPT
{% endfor %}

## route lxc inbound
{% for c in lvm_volumes %}
### {{c.name}}
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 22 -m conntrack --ctstate NEW -j sshguard
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 8080 -m conntrack --ctstate NEW -j ACCEPT
{% if 'etl' in c.name %}
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 8444 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 2000 -m conntrack --ctstate NEW -j sshguard
{% elif 'tgm' in c.name %}
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 7000 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 7001 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 7199 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 9042 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 9160 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 2181 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 2888 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 3888 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 3772 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 3773 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 6627 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 6700 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 6701 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 6702 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 6703 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 8000 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 8081 -m conntrack --ctstate NEW -j ACCEPT
{ elif 'nginx' in c.name %}
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 80 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 443 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 2049 -m conntrack --ctstate NEW -j ACCEPT
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p udp -m udp --dport 2049 -m conntrack --ctstate NEW -j ACCEPT
{ elif 'psql' in c.name %}
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 5432 -m conntrack --ctstate NEW -j ACCEPT
{ elif 'tomcat' in c.name %}
-A lxc_forwards -d 172.{{16 + loop.index0}}.0.2 -p tcp -m tcp --dport 80 -m conntrack --ctstate NEW -j ACCEPT
{% endif %}

{% endfor %}
## lxc forwards
-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -j lxc_forwards
-A FORWARD -j br_outbound
-A FORWARD -j REJECT --reject-with icmp-host-unreach

## host 
-A INPUT -p tcp -m tcp --dport 22 -m conntrack --ctstate NEW -j sshguard
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP

# allow ping
-A INPUT -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT

# icmp control
-A INPUT -p udp -m conntrack --ctstate NEW -j UDP
-A INPUT -p tcp --syn -m conntrack --ctstate NEW -j TCP
-A INPUT -p udp -j REJECT --reject-with icmp-port-unreachable
-A INPUT -p tcp -j REJECT --reject-with tcp-rst

# reject all others
-A INPUT -j REJECT --reject-with icmp-proto-unreachable
COMMIT
