---

- name: Installing sudo
  apt: name=sudo 
       state=present

- name: Checking srv_user group
  group: name={{ srv_user }}
         state=present
         system=yes

- name: Checking srv_user
  user: name={{ srv_user }}
        state=present
        group={{ srv_user }}
        groups="sudo"
        system=yes

- name: Ensuring ssh is allowed
  authorized_key: user={{ srv_user }} 
                  key={{ srv_key}} 
                  state=present

- name: Configuring sshd
  template: src=sshd_config dest=/etc/ssh/sshd_config
  tags: sshd
  notify: restart sshd

- name: Install iptables utilities
  apt: name=iptables-persistent 
       state=latest 
       update_cache=yes

- name: Configuring logrotate
  copy: src=iptables.logrotate dest=/etc/logrotate.d/iptables

- name: Copying iptables rules
  template: src=iptables.rules dest=/etc/iptables/rules.vp
  notify: apply iptables

