ETCD_NAME={{ansible_hostname}}
ETCD_DATA_DIR={{etcd_data_path}}
#ETCD_SNAPSHOT_COUNTER="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""


ETCD_ADVERTISE_CLIENT_URLS="http://{{ansible_eth0["ipv4"]["address"]}}:4001"
ETCD_LISTEN_CLIENT_URLS="http://{{ansible_eth0["ipv4"]["address"]}}:4001"

