###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate
. {{kube_conf_path}}/config

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS=""

KUBE_CONTROLLER_MANAGER_OPTS="$KUBE_LOGTOSTDERR \
                              $KUBE_LOG_LEVEL \
                              $KUBE_MASTER \
                              $KUBE_CONTROLLER_MANAGER_ARGS"
