apiVersion: v1
kind: Config
current-context: scheduler-to-{{cluster_name}}
preferences: {}
clusters:
- cluster:
    server: https://{{groups['kube-master'][0]}}:4001
  name: {{cluster_name}}
contexts:
- context:
    cluster: {{cluster_name}}
    user: scheduler
  name: scheduler-to-{{cluster_name}}
