---
# Base install for all systems

- include: install.yml
- include: users.yml

- name: Configuring logrotate
  copy: src=iptables.logrotate dest=/etc/logrotate.d/iptables

- name: Base iptables rules (not applying)
  template: src=iptables.j2 dest=/etc/iptables/rules.v4

