---

# Gateway machines run NGINX & NFS
- include: nginx.yml
  when: web_gateway is defined and web_gateway == true

- include: nfs.yml
  when: web_gateway is defined and web_gateway == true

- include: postgres.yml
  when: web_gateway is defined and web_gateway == true

# All machines run an instance of moogi
- include: iptables.yml
- include: tomcat.yml
